@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1478860409698-8707f313ee8b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 110vh;
    font-family: "Playfair Display", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 60px;
    margin: -150px 0 40px;
}

.countdown {
    display: flex;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.time h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

#secret-link {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#secret-link:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 500px) {
    h1 {
        font-size: 45px;
    }
    .time {
        margin: 5px;
    }
    .time h2 {
        font-size: 12px;
    }
    .time small {
        font-size: 10px;
    }
}
